@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
--font-p: "Montserrat", sans-serif;
--font-basis: "JetBrains Mono", monospace;
--font-title: "Space Grotesk", sans-serif;
--color-Hijau: #79ED21;
--color-Ireng: #3E3939;
--color-Sign: #60E910;
}